/* Show green/red Outlines  */
input:focus:invalid {
	box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}
input:valid, input:focus:valid {
    border-color: #28921f;
}
input:focus:valid {
	box-shadow: 0 0 5px #5cd053;
}

/* Hide the up/down arrows that can show on the number inputs */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
